# compiler/editor files
*.[ao]
*.og
*.so
*.swp
.exrc
*~

# output files from the lib
/*.del
/*.seq
/*.prg
/*.usr
/*.rel
/*.d64
/*.d71
/*.d80
/*.d81
/*.d82

# temp files
/data/images/ark/*.html
/data/images/d64/*.html

# test runner
test-runner

# GUI application
cbmfm
